.Main_chat
  .Right_header
    .Group_info
      .Group_info__group_name
        = @group.name
      .Group_info__group_member
        Member :
        -# = binding.pry
        - @group.users.each do |user|
        -# - @users.each do |user|
          = user.name


    -# .Right_header__edit_button
    = link_to edit_group_path(@group), class: "Right_header__edit_button" do
      Edit


  .Right_body
    = render @messages
    -# .A_chat
    -#   .Chat_info
    -#     .Chat_info__users_name
    -#       yataki
    -#     .Chat_info__datetime
    -#       2020/05/30(sat) 12:00
    -#   .A_chat__text
    -#     hello
    
    -# .A_chat
    -#   .Chat_info
    -#     .Chat_info__users_name
    -#       yataki
    -#     .Chat_info__datetime
    -#       2020/05/30(sat) 12:00
    -#   .A_chat__text
    -#     hello
    
    -# .A_chat
    -#   .Chat_info
    -#     .Chat_info__users_name
    -#       yataki
    -#     .Chat_info__datetime
    -#       2020/05/30(sat) 12:00
    -#   .A_chat__text
    -#     hello
    

  -# .Form
  -#   %form.new_message
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         =icon('fas', 'image')
  -#         %input{type:"file", class:"input-box__image__file"}
  -#     %input{type: "submit", class: "submit-btn"}

  .Form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'