.Side_bar
  .Left_header
    .User_info
      .User_name
        = current_user.name
      %ul.User_icons
        %li.User_icons__edit
          = link_to new_group_path, class: "icons" do
            = icon("far", "edit", class: "edit")
        %li.User_icons__setting
          = link_to edit_user_path(current_user), class: "icons" do
            = icon("fas", "cog", class: "cog")
  .Group_lists
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__last_message
            = group.show_last_message
        